<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD09Sqbnl3HROGD6sU9wIIXYCsiUxGhsfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1075137123924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zacharypalmer.golden</string>
	<key>PROJECT_ID</key>
	<string>golden-e4148</string>
	<key>STORAGE_BUCKET</key>
	<string>golden-e4148.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075137123924:ios:5719efe0730f61c161ffc1</string>
</dict>
</plist>